/* Tambayan 404 CSS Stylesheet */

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Space+Mono:wght@700&display=swap');

:root {
  /* Colors */
  --color-teal: #38F3FF;
  --color-pink: #F839FC;
  --color-purple: #0F1123;

  /* Font Families */
  --font-headings: 'Space Mono', monospace;
  --font-body: 'Montserrat', Arial, sans-serif;

  --font-size: 16px;
  --line-height: 2;

  /* Text Shadows: Blue Glow */
  --effect-blue-glow: 0px 0px 1.25em rgba(56, 255, 255, 0.71);
  --effect-pink-glow: 0px 0px 1.5em #F839FC;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: url(../images/bg.svg) repeat;
  color: #fff;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  font-size: var(--font-size);
  font-family: var(--font-body);
  line-height: var(--line-height);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-headings);
  text-transform: uppercase;
}

a {
  color: #fff;
  font-family: var(--font-body);
  text-decoration: none;
  text-shadow: var(--effect-blue-glow);
  transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
}

a:hover, a:focus {
  text-shadow: var(--effect-pink-glow);
  text-decoration: underline;
}

a.link {
  font-size: 1.2em;
  font-weight: 600;
  text-transform: uppercase;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  height: auto;
  padding: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-purple);
}

@media screen and (min-width: 600px) {
  .wrapper {
    min-width: 400px;
    max-width: 800px;
  }
}

.logo {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 200px;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.description {
  max-width: 600px;
  display: block;
  margin: 1em auto;
  text-align: center;;
}

.social-media-links a {
  display: block;
  text-align: center;
}

.marquee {
  animation: marquee 10s linear infinite;
  -webkit-animation: marquee 10s linear infinite;
}

.marquee:hover {
  animation-play-state: paused;
}

.emojis {
  display: flex;
  justify-content: space-evenly;
  margin: 2em auto;
}

.emojis > img {
  margin: 0.5em;
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.credits {
  align-self: flex-end;
  margin: 2em auto;
  font-size: 0.75em;
  opacity: 0.5;
  text-align: center;
}

.button {
  display: block;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0.5rem auto;
  padding: 0.25em 1em;
  color: #fff;
  text-shadow: none;
  border: 2px solid var(--color-button);
  background-color: var(--color-button);
  transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
}

.button:hover {
  text-decoration: none;
}

.primary.button {
  --color-button: var(--color-pink);
}

.secondary.button,
.primary.button:hover,
.primary.button:focus {
  --color-button: var(--color-teal);
}

.secondary.button {
  background-color: transparent;
}

.secondary.button:hover,
.secondary.button:focus {
  --color-button: var(--color-pink);
}

/* Marquee CSS Animation */
@keyframes marquee {
  0% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
}

  100% {
    transform: translateX(-150%);
    -webkit-transform: translateX(-150%);
    -moz-transform: translateX(-150%);
    -ms-transform: translateX(-150%);
    -o-transform: translateX(-150%);
}
}

@media (prefers-reduced-motion: reduce) {
  .marquee {
    animation: none;
    -webkit-animation: none;
  }

  .emojis {
    flex-wrap: wrap;
    min-width: 400px;
    max-width: 800px;
  }
}

/* For Open Salary Survey */
.highlight {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  margin: 1em auto;
  width: 80%;
  max-width: 600px;
  background-color: rgba(65,255,255,0.2);
}

.highlight .additional-links {
  font-size: 0.75rem;
}

.additional-links a { display: block; }

@media screen and (max-width: 490px) {
  .highlight { width: 100%; }
}

@media screen and (min-width: 491px) {
  .highlight .additional-links {
    display: inline-block;
  }

  .additional-links a {
    display: inline-block;
  }
  
  .additional-links a:not(:last-of-type)::after {
    content: "|";
    margin: 0 1rem;
  }
}