---
title: "Tambayan 404"
layout: base
---

div.wrapper 
  div.logo
    img(src="./images/tambayan-404-logo.png")

  p.description
    | The PH's biggest Discord community for Filipinos in Tech and general tech enthusiasts to have fun, unwind, and not take life seriously.

  div.emojis
    img(src="./images/milogoodboi.png" title="Milo being a good boi")
    img(src="./images/sojupats.png" title="Patting Soju")

  marquee
    a.link(href="https://discord.gg/xtQUgTk" title="Join the Tambayan 404 Discord Server") Join the Discord Server