---
title: "Tambayan 404"
layout: base
---

div.wrapper 
  div.logo
    img(src="./images/tambayan-404-logo.png")

  p.description
    | The PH's biggest Discord community for Filipinos in Tech and general tech enthusiasts to have fun, unwind, and not take life seriously.

  div.emojis
    img(src="./images/milogoodboi.png")
    img(src="./images/sojupats.png")

  marquee
    a.link(href="https://discord.gg/xtQUgTk" title="Tambayan 404") Join the Discord Server