---
title: "Tambayan 404"
description: "The PH's biggest Discord community for Filipinos in Tech and general tech enthusiasts to have fun, unwind, and not take life seriously."

layout: base
---

div.wrapper 
  div.logo
    img(src="./images/tambayan-404-logo.png")

  p.description !{description}

  div.social-media-links
    a(href="https://fb.com/Tambayan404" title="Like Tambayan 404 on Facebook") Facebook
    a(href="https://twitter.com/Tambayan404" title="Follow Tambayan 404 on Twitter") Twitter

  div.emojis
    img(src="./images/milogoodboi.png" title="Milo being a good boi")
    img(src="./images/sojupats.png" title="Patting Soju")

  div.marquee
    a.link(href="https://discord.gg/xtQUgTk" title="Join the Tambayan 404 Discord Server") Join the Discord Server

  div.credits
    p
      | Background pattern from 
      a(href="https://www.heropatterns.com/") Hero Patterns

    p
      | Powered by 
      a(href="https://www.netlify.com/" target="_blank") Netlify