<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>{{ title }}</title>
  
  <!-- Metadata -->
  {% include "metadata.njk" %}

  <!-- CSS -->
  <link rel="stylesheet" href="css/style.css">
  
  <!-- Favicon -->
  {% include "favicon.njk" %}
</head>
<body>
  {{ content | safe }}
</body>
</html>