//- All emojis we wanna feature on the site

mixin emoji(name, title)
  img(src="./images/emojis/" + name + ".png" title=title)

+emoji("budol", "lamna")
+emoji("heh", "heh...")
+emoji("jmc", "Jose Mari Chan in da haus")
+emoji("sideeye", "ehhhh")
+emoji("milo_cheems", "Milo cheems mode")
+emoji("milogoodboi", "Milo being a good boi")
+emoji("sojupats", "Patting Soju")