<!-- Basic Description -->
<meta name="description" content="{{ description }}">

<!-- Open Graph -->
<meta property="og:url" content="https://tambayan404.com">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ title }}">
<meta property="og:image" content="./images/tambayan-404-logo.png">
<meta property="og:description" content="{{ description }}">
<meta property="og:site_name" content="{{ title }}">
<meta property="og:locale" content="en_US">

<!-- Twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@Tambayan404">
<meta name="twitter:url" content="https://tambayan404.com">
<meta name="twitter:title" content="{{ title }}">
<meta name="twitter:description" content="{{ description }}">
<meta name="twitter:image" content="./images/tambayan-404-logo.png">