//- Tambayan 404 Open Salary Survey

div.highlight
  a.secondary.button(href="https://bit.ly/Tambayan404-OpenSalarySurvey" target="_blank") Take the Open Salary Survey

  div.additional-links
    a(href="https://bit.ly/Tambayan404-OSDataSummary" target="_blank") OSS Data Summary

    a(href="https://bit.ly/Tambayan404-OSRawData" target="_blank") OSS Raw Data